
* {
  box-sizing: border-box;
/*  Esto hizo que los elementos ya no se pusieran hacia abajo.
*/
  margin: 0;
  padding: 0;
}

body {
  color: white;

}
.container{
  width: 100%;
  max-width: 1300;
  margin: 0px auto;
}

/*Grid*/

header {
  background: #1A8EC2;
}

/*Seccion dos*/

.section-two {
  background: #6dc8f2;
/*  height: 100vh;
*/}

p {

  display: inline;
}

/*Seccion dinámica*/

.main-section {
 background: #6dc8f2;
 height: 100vh;
}

.input-add-list {
 background: #1A8EC2; 
 color: white;
}

/*Ventanas dinámicas*/

.box-list, .list-name-container  {
  width: 20%;
  height: 9%;
  background-color: #E2E4E6;
  border-radius: 5px;
  margin-top: 2%;
  display: block;
}


.list-textarea, .add-name-list {
  width: 95%;
  height: 25%;
  border-radius: 5px;
  background-color: #D5D7D9;
  margin-left: 2%;
  margin-top: 3%;
}

.keep-button {
  width: 40%;
  height: 40%;
  margin-left: 10px;
  background-color: #519839;
  border-radius: 5px;
  font-size: 15px;
}

.cross-out-button {
  width: 40%;
  height: 40%;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 15px;
  text-align: left;
  background-color: #E2E4E6;
  color: black;
}

.name-container {
  font-size: 20p;
  outline: black;
  margin-top: 3%;
  padding-top: 3%;
  margin-left: 2%;
}

.add-target-button {
  color: blue;
}

.add-list-button {
  border: none;
  border-radius: 5%;
  background-color:#0064a4;
  font-size: 14px;
  height: 30px;
  text-align: left;
  width: 200px;
  margin-top: 1%;
}

